<style>
  .content-frame {
    padding: 24px 24px 24px 24px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  .flex-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .flex-container .stretch-to-fit {
    flex: 0 1 auto;
  }

  .flex-container .fill-remaining {
    flex: 1 1 auto;
    overflow: auto;
  }

  .button-row {
    display: flex;
    align-items: center;
  }
</style>



<div class="content-frame">
  <div class="flex-container">
    <div class="stretch-to-fit">
      <h2 style="color: red">NOTE:  Your code is only stored in the browser, so be sure to copy it somewhere safer if you truly cherish it!</h2>
      
      <h1>Select an Exercise</h1>
      <div style="display: inline-block; width: auto;">
        <div *ngFor="let exercise of this.exercises; let i = index;">
          <button mat-stroked-button style="width: 100%; display: flex; justify-content: flex-start;" (click)="setExercise(exercise)">
            {{ i + 1 }}. {{ exercise.name }}
          </button>
        </div>
      </div>

      <div style="margin: 24px 0px 12px 0px;">
        <strong>{{ this.exercise.name }}</strong>
        <p>{{ this.exercise.description }}</p>
      </div>
      <div class="button-row">
        <div style="margin-right: auto;">
          <button mat-raised-button color="primary" (click)="runCode()">Run Code</button>
        </div>
        <div>
          <a mat-flat-button color="warn" style="margin: 16px;" target="_blank" href="https://rxjs.dev/api">
            <mat-icon>search</mat-icon>
            <span>RxJs Reference</span>
            <mat-icon iconPositionEnd>link</mat-icon>
          </a>
          <button mat-fab style="margin: 4px;" (click)="resetCode()">Reset</button>
          <button mat-fab style="margin: 4px;" mat-fab (click)="saveCode()">Save</button>
          <button mat-fab style="margin: 4px;" mat-fab (click)="loadCode()">Load</button>
        </div>
      </div>
    </div>

    <div id="divEditor" class="fill-remaining" style="min-height: 400px;">
    </div>
</div>



<div style="display: none;">
  <h1>Output Log</h1>
    <div id="divOutput">
  </div>
</div>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/7.2.0/rxjs.umd.js"></script> -->